<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestAgain</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>ujs.mlearn.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseListServlet</display-name>
    <servlet-name>CourseListServlet</servlet-name>
    <servlet-class>ujs.mlearn.servlet.CourseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseListServlet</servlet-name>
    <url-pattern>/CourseListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebUserServlet</display-name>
    <servlet-name>WebUserServlet</servlet-name>
    <servlet-class>ujs.mlearn.web.WebUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebUserServlet</servlet-name>
    <url-pattern>/WebUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebNoticeServlet</display-name>
    <servlet-name>WebNoticeServlet</servlet-name>
    <servlet-class>ujs.mlearn.web.WebNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebNoticeServlet</servlet-name>
    <url-pattern>/WebNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebCourseServlet</display-name>
    <servlet-name>WebCourseServlet</servlet-name>
    <servlet-class>ujs.mlearn.web.WebCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebCourseServlet</servlet-name>
    <url-pattern>/WebCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeServlet</display-name>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>ujs.mlearn.servlet.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/NoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebTestServlet</display-name>
    <servlet-name>WebTestServlet</servlet-name>
    <servlet-class>ujs.mlearn.web.WebTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebTestServlet</servlet-name>
    <url-pattern>/WebTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>ujs.mlearn.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BbsServlet</display-name>
    <servlet-name>BbsServlet</servlet-name>
    <servlet-class>ujs.mlearn.servlet.BbsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BbsServlet</servlet-name>
    <url-pattern>/BbsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebBbsServlet</display-name>
    <servlet-name>WebBbsServlet</servlet-name>
    <servlet-class>ujs.mlearn.web.WebBbsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebBbsServlet</servlet-name>
    <url-pattern>/WebBbsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebMaterialServlet</display-name>
    <servlet-name>WebMaterialServlet</servlet-name>
    <servlet-class>ujs.mlearn.web.WebMaterialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebMaterialServlet</servlet-name>
    <url-pattern>/WebMaterialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResServlet</display-name>
    <servlet-name>ResServlet</servlet-name>
    <servlet-class>ujs.mlearn.servlet.ResServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResServlet</servlet-name>
    <url-pattern>/ResServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebHomeworkServlet</display-name>
    <servlet-name>WebHomeworkServlet</servlet-name>
    <servlet-class>ujs.mlearn.web.WebHomeworkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebHomeworkServlet</servlet-name>
    <url-pattern>/WebHomeworkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeworkServlet</display-name>
    <servlet-name>HomeworkServlet</servlet-name>
    <servlet-class>ujs.mlearn.servlet.HomeworkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeworkServlet</servlet-name>
    <url-pattern>/HomeworkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserServlet</display-name>
    <servlet-name>AdminUserServlet</servlet-name>
    <servlet-class>ujs.mlearn.admin.AdminUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserServlet</servlet-name>
    <url-pattern>/AdminUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminFunServlet</display-name>
    <servlet-name>AdminFunServlet</servlet-name>
    <servlet-class>ujs.mlearn.admin.AdminFunServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFunServlet</servlet-name>
    <url-pattern>/AdminFunServlet</url-pattern>
  </servlet-mapping>
</web-app>